io.swagger.v3.oas.annotations.Operation(
    {{ with .summary }}summary = {{ quote . }},
    {{ end -}}
    {{ with .description }}description = {{ quote . }},
    {{ end -}}
    {{ with .externalDocs }}externalDocs = {{ include "swagger-annotations/ExternalDocumentation.tmpl" . | indent 4 | trim  }},
    {{ end -}}
    {{ with .operationId }}operationId = {{ quote . }},
    {{ end -}}
    {{ with .responses }}responses = [
    {{- range $code, $response := . -}}
        {{- include "swagger-annotations/ApiResponse.tmpl" (dict "code" $code "response" $response) | nindent 8 -}},{{ end -}}
    ],
    {{ end -}}
    {{ with .deprecated }}deprecated = {{ . }},
    {{ end -}}
    {{ with .security }}security = [
    {{- range $security := . -}}
        {{- include "swagger-annotations/SecurityRequirement.tmpl" $security | nindent 8  -}},
    {{- end }}
    ],
    {{ end -}}
)
{{- "" -}}
