package __generated__

type {{ title .title }} struct {
{{- range $name, $field := .properties }}
    {{ title $name }} {{ include "type-mapping.tmpl" $field }} `json:"{{ $name }}"`{{ if $field.required }} // required{{ end }}
{{- end }}
}
