{{- $spec := $.spec -}}
{{- $tag := $.tag -}}
{{- $values := loadValues -}}
package {{ $values.javaPackage }}

import javax.annotation.Generated

@Generated("dev.palindrom615.eeaao.EeaaoCodegen")
@{{ include "swagger-annotations/Tag.tmpl" $tag }}
interface {{ title $tag.name }}Api {
{{- range $path, $pathSpec := .spec.paths -}}
{{- range $method, $operation := $pathSpec -}}
    {{- if not (has $tag.name $operation.tags) -}}
        {{- continue -}}
    {{- end }}
    @{{ include "swagger-annotations/Operation.tmpl" $operation | indent 4 | trim }}
    @org.springframework.web.bind.annotation.GetMapping("{{ $path }}")
    fun {{ $operation.operationId }}(
        {{- range $parameter := $operation.parameters -}}
        @{{ include "swagger-annotations/Parameter.tmpl" $parameter }}
        {{ $parameter.name }}: {{ $parameter.schema.type }} = {{ $parameter.schema.default }},
        {{- end }}
    ){{- with index $operation.responses "200" -}}: {{ include "schema-mapping.tmpl"  (index .content "application/json" "schema") }}; {{- end }}
{{- end -}}
{{- end -}}
}
