{{- $spec := $.spec -}}
{{- $tag := $.tag -}}
{{- $className := $.className -}}
{{- $values := loadValues -}}
package {{ .javaPackage }}

import {{ .javaPackage }}.schema.*
import javax.annotation.Generated
import org.springframework.web.bind.annotation.RequestMapping
import org.springframework.web.bind.annotation.RequestMethod

@Generated("dev.palindrom615.eeaao.EeaaoCodegen")
@{{ include "swagger-annotations/Tag.tmpl" $tag }}
interface `{{ $className }}` {
{{- range $path, $pathSpec := .spec.paths -}}
    {{- range $method, $operation := $pathSpec -}}
        {{- if not (has $tag.name $operation.tags) -}}
            {{- continue -}}
        {{- end -}}
        {{- include "api/operation.tmpl" (dict "operation" $operation "path" $path "method" $method) | nindent 4 -}}
    {{- end -}}
{{- end }}
}
